.jumbotron {
    background-color: #d50000;
    color: #ffffff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.search {
    margin: 20px;
    margin-bottom: 40px;
}

h4 {
    font-weight: bold;
}

table {
    background-color: #ffebee;
    margin: 0 auto; 
}

.table-info {
    width: 100%;
    overflow-x: auto;
}

table#table-version-2011 {
    visibility: collapse;
}

table#table-version-1998 {
    visibility: collapse;
}

th {
    color: #000000;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    font-weight: bold;
}

td {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 8px 13px rgba(0,0,0,0.2);
}

.table-info {
    margin-bottom: 50px;
}

.form-info {
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

input.details {
    width: 100%;
}

.lato400 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.lato900 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
